<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/styles/stylesDefault.css">
  <link rel="stylesheet" href="/styles/catalogo.css">
  <title>
   Gaming Catalog
  </title>
</head>
    
<body>
    <div class="max-width">
        <!-- Barra de navegación -->
<%- include('./partials/header.ejs') %>
        <main class="main">
          <div class="sidebar">
            <h3>Consola</h3>
            <ul>
                <li><a href="#ps4">PS4</a></li>
                <li><a href="#ps5">PS5</a></li>
                <li><a href="#pc">PC</a></li>
                <li><a href="#xbox">XBOX</a></li>
            </ul>

            <h3>Géneros</h3>
            <ul>
                <li><a href="#accion">Acción</a></li>
                <li><a href="#aventura">Aventura</a></li>
                <li><a href="#deportes">Deportes</a></li>
                <li><a href="#estrategia">Carrera</a></li>
            </ul>

            <div class="price-filter">
                <h3>Filtro de Precios</h3>
                <label for="min-price">Precio Mínimo</label>
                <input id="min-price" placeholder="0" type="number"/>
                <label for="max-price">Precio Máximo</label>
                <input id="max-price" placeholder="1000000" type="number"/>
                <div class="div-button">
                    <a href="#" class="button">Aplicar</a>
                </div>
            </div>
          </div>
            
            <div class="catalog">
              <h2>Categorías/Catálogo</h2>
                <% products.forEach((product) => { %>
                    <article class="item">
                      <img src="<%= product.image %>" alt="<%= product.name %>" />
                      <h2><%= product.name %></h2>
                      <p>$<%= product.price %></p>
                      <div class="div-button">
                        <a href="/product/<%= product.id %>" class="button">Comprar</a>
                      </div>
                    </article>
                    <% }); %>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>